.slider {
    display: block;
    overflow: hidden;
    position: relative;

    &__wrapper {
        align-items: stretch;
        display: flex;
        justify-content: flex-start;
    }

    &__item {
        display: block;
        flex-shrink: 0;
    }

    &__pagination {
        //align-items: center;
        //bottom: 40px;
        //display: flex;
        //justify-content: center;
        //position: absolute;
        //transform: translateX(-50%);
        //z-index: 5;

        @media (max-width: 768px) {
            bottom: 24px;
        }

        &-item {

            background: rgba(0, 0, 0, 0.2);
            cursor: pointer;
            display: block;
            margin: 0 4px;

            &:hover {
                background: #77243a;
            }

            &_active {
                background: #0d0a0a;
            }
        }
    }

    &__navigation {

        position: relative;
        bottom: 70px;
        max-width: 160px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 992px) {
            display: none;
        }

        &-item {

            bottom: 20%;
            color: #0d0a0a;
            cursor: pointer;
            display: block;
            z-index: 6;
            width: 21px;
            height: 21px;

            svg {
                transition: 0.3s ease-out;
            }

            &:hover {
                svg {
                    fill: #D0D84C;
                }
            }

            &_prev {
                .icon {
                    transform: rotate(180deg);
                }
            }

            &_disabled {
                display: none;
            }

            .icon {

                display: block;
            }
        }
    }
}

.slider__item {
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.section__slider-wrapper {
    min-width: 0;
}

.slider-pagination-fraction {
    font-size: 20px;
    color: #fff;
}

.slider__navigation-item_prev {
    svg {
        transform: scale(-1, 1);
    }
}
.card {
    display: flex;
}
.card__text {
    flex: 0 1 50%;
    padding-right: 64px;
    h2 {
        letter-spacing: 0.01em;
        text-transform: uppercase;
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 120px;
        line-height: 1;
        margin-bottom: 16px;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    h3 {
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 64px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #000000;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
.card__img {
    flex: 0 1 50%;
    min-height: 737px;
    position: relative;
    img {
        width: calc(100% - 16px);
        height: 100%;
        top: 0;
        left: 16px;
        position: absolute;
        object-fit: cover;
    }
}
.container-full {
    padding: 40px 85px 120px;
}
.card__button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 32px;
    background: linear-gradient(90deg, #D1D94D 0%, #BEC644 100%);
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.3s ease-out;
    width: fit-content;
    margin-bottom: 100px;
    &:hover {
        background: linear-gradient(90deg, #BEC644 0%, #D1D94D 100%);
    }
}
.card__text-wrapper {
    margin-top: 89px;
}
.card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slider__pagination {
    span {
        font-family: Circe;
        font-style: normal;
        font-weight: 350;
        font-size: 17px;
        line-height: 160%;
        color: #000000;
    }
}
.swiper-pagination-total {
    opacity: 0.5;
}
.swiper-scrollbar-drag {
    background: #D1D94D;
    height: 2px;
}
.swiper-scrollbar {
    background: rgba(0, 0, 0, 0.1);
    height: 2px;
    width: 49px;
}
.swiper-scrollbar {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.slider__navigation-item_disabled {
    display: block;
}
